* {
    margin: 0px auto;
    padding: 0px;
    line-height: 200%;
}

.background {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

div.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.content a {
    text-decoration: none;
    opacity: 0.5;
    color: snow;
    padding: 20px;
}

div.content a:hover {
    color: silver;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transform: scale(1.25);
}



