* {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Rowdies';
    line-height: 150%;
}

ul.navbar {
    margin: 20px 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: seagreen;
}

ul.navbar li, ul.navbar li a {
    width: 20%;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    text-align: center;
}

ul.navbar li:hover {
    cursor: pointer;
    background-color: steelblue;
    transition: 1s;
}

#heading {
    text-align: center;
    margin: 20px 0px;
    font-size: 100px;
}

div.container {
    width: 100vw;
    height: 75vh;
    margin: 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img.background {
    border: 1px solid rgba(0, 0, 50, 0.5);
    border-radius: 500px;
    width: 100%;
    height: auto;
}

div.wrapper {
    width: 100vw;
    height: 30vh;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid slategray;
    background-color: rgba(064, 128, 128, 0.5);
    overflow-y: hidden;
    margin: 50px 0px;
}

div.content {
    margin: 0px 10px;
}

div.content img.small {
    width: 50vw;
    height: 80%;
    padding: 20px;
}




